* {
    margin: 0;
}

.header {
    height: 39px;
    padding: 10px 16px;
    background-color: #f0f2f5;
    display: flex;
     justify-content: space-between;
     align-items: center;
}
.header-right > span {
    margin: 50px;
}
.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.span {
    width: 28px;
    height: 28px;
}
.search-panel {
    height: 48px;
    padding: 0px 0px 0px 12px;
    background-color: white;
    border-bottom: 1px solid #e9edef;
}
.chat-list {
    height: 549px;
    background-color: #ffffff;
}